Jesus Alejandro Valencia Valadez

In [1]:
%%capture # 
!pip install rpy2==3.5.1

In [2]:
%load_ext rpy2.ipython

In [3]:
from google.colab import drive 
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [4]:
%%R
library(readr)
library(magrittr)
library(dplyr)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [6]:
%%R
data <- read.csv("drive/MyDrive/student-mat.csv")

In [7]:
%%R
length(rownames(data))

[1] 395

In [8]:
%%R
length(colnames(data))

[1] 33

In [9]:
%%R
colnames(data)

 [1] "school"     "sex"        "age"        "address"    "famsize"
 [6] "Pstatus"    "Medu"       "Fedu"       "Mjob"       "Fjob"
[11] "reason"     "guardian"   "traveltime" "studytime"  "failures"
[16] "schoolsup"  "famsup"     "paid"       "activities" "nursery"
[21] "higher"     "internet"   "romantic"   "famrel"     "freetime"
[26] "goout"      "Dalc"       "Walc"       "health"     "absences"
[31] "G1"         "G2"         "G3"

0. visulizacion previa de datos

In [10]:
%%R
data %>%
select(1:10) %>%
head(n=10)

   school sex age address famsize Pstatus Medu Fedu     Mjob     Fjob
1      GP   F  18       U     GT3       A    4    4  at_home  teacher
2      GP   F  17       U     GT3       T    1    1  at_home    other
3      GP   F  15       U     LE3       T    1    1  at_home    other
4      GP   F  15       U     GT3       T    4    2   health services
5      GP   F  16       U     GT3       T    3    3    other    other
6      GP   M  16       U     LE3       T    4    3 services    other
7      GP   M  16       U     LE3       T    2    2    other    other
8      GP   F  17       U     GT3       A    4    4    other  teacher
9      GP   M  15       U     LE3       A    3    2 services    other
10     GP   M  15       U     GT3       T    3    4    other    other

1. alumnos que salen de casa regularmente(>=3) y toman regularmente los fines de semana

In [11]:
%%R
data %>%
filter(goout >= 3 & Walc >= 3) %>%
select(1:9, goout, Walc) %>%
head(n=10)

   school sex age address famsize Pstatus Medu Fedu     Mjob goout Walc
1      GP   M  15       U     LE3       T    4    4   health     3    3
2      GP   M  17       U     GT3       T    3    2 services     5    4
3      GP   M  16       U     LE3       T    4    3   health     3    3
4      GP   M  16       U     LE3       T    2    2    other     4    4
5      GP   M  15       U     GT3       T    4    2   health     4    4
6      GP   M  16       U     GT3       T    4    4  teacher     5    5
7      GP   M  15       U     LE3       T    4    4  teacher     3    4
8      GP   F  16       U     LE3       A    3    3    other     5    4
9      GP   F  16       U     LE3       T    2    2 services     3    3
10     GP   M  15       U     LE3       A    4    2   health     5    4

2. alumnos que salen con amigos regularmente (>=3) y toman regularmente entre semana

In [21]:
%%R

data %>%
  filter(goout < 3 & Dalc < 3) %>%
  select(1:5, 10:12) %>%
  head(n=10)

   school sex age address famsize     Fjob     reason guardian
1      GP   F  15       U     LE3    other      other   mother
2      GP   F  15       U     GT3 services       home   mother
3      GP   F  16       U     GT3    other       home   father
4      GP   M  16       U     LE3    other reputation   mother
5      GP   M  15       U     LE3    other       home   mother
6      GP   M  15       U     GT3    other       home   mother
7      GP   F  15       U     GT3    other reputation   father
8      GP   M  15       U     GT3    other       home    other
9      GP   F  16       U     GT3    other reputation   mother
10     GP   M  15       U     GT3    other reputation   mother

3. alumnos que salen con amigos y toman regularmente cualquier dia

In [22]:
%%R
data %>%
  filter(goout < 3 & (Dalc < 3 | Walc < 3)) %>%
  select(1:5, 10:12) %>%
  head(n=10)

   school sex age address famsize     Fjob     reason guardian
1      GP   F  15       U     LE3    other      other   mother
2      GP   F  15       U     GT3 services       home   mother
3      GP   F  16       U     GT3    other       home   father
4      GP   M  16       U     LE3    other reputation   mother
5      GP   M  15       U     LE3    other       home   mother
6      GP   M  15       U     GT3    other       home   mother
7      GP   F  15       U     GT3    other reputation   father
8      GP   M  15       U     GT3    other       home    other
9      GP   F  16       U     GT3    other reputation   mother
10     GP   M  15       U     GT3    other reputation   mother

4. ¿los alumnos del ejercicio 1 son los mismos que los del ejerccio 2? ¿por que?

R= No, ya que son diferentes los momentos que salen

5. Alumnos que no quieren continuar sus estudios pero sus padres si cuentan con un alto grado de estudios

In [23]:
%%R
data %>%
  filter(higher != "no" &(Medu >= 3|Fedu >= 3)) %>%
  select(1:5, 10:12) %>%
  head(n=10)

   school sex age address famsize     Fjob     reason guardian
1      GP   F  18       U     GT3  teacher     course   mother
2      GP   F  15       U     GT3 services       home   mother
3      GP   F  16       U     GT3    other       home   father
4      GP   M  16       U     LE3    other reputation   mother
5      GP   F  17       U     GT3  teacher       home   mother
6      GP   M  15       U     LE3    other       home   mother
7      GP   M  15       U     GT3    other       home   mother
8      GP   F  15       U     GT3   health reputation   mother
9      GP   M  15       U     LE3 services     course   father
10     GP   M  15       U     GT3    other     course   mother

6. alumnos que quieren continuar con sus estudios pero sus padres no cuentan con un alto grado de estudios

In [24]:
%%R
data %>%
  filter(higher != "yes" &(Medu <= 2|Fedu <= 2)) %>%
  select(1:5, 10:12) %>%
  head(n=10)

   school sex age address famsize     Fjob     reason guardian
1      GP   M  17       U     GT3    other       home   mother
2      GP   F  19       U     GT3    other     course    other
3      GP   M  18       U     LE3    other     course   mother
4      GP   M  19       U     GT3  at_home       home   mother
5      GP   M  17       R     LE3    other     course   mother
6      GP   M  17       U     GT3 services     course   father
7      GP   M  17       R     LE3 services     course   mother
8      GP   M  16       U     GT3 services     course   mother
9      GP   M  16       U     GT3    other     course   father
10     GP   M  18       U     GT3 services reputation   father

7. alumnos provenientes de una zona rurial que no cuentan con internet en casa

In [26]:
%%R
data %>%
  filter(address != "R" & internet == "no") %>%
  select(1:5, 10:12, internet, address) %>%
  head(n=10)

   school sex age address famsize    Fjob     reason guardian internet
1      GP   F  18       U     GT3 teacher     course   mother       no
2      GP   F  16       U     GT3   other       home   father       no
3      GP   F  17       U     GT3 teacher       home   mother       no
4      GP   F  16       U     GT3   other reputation   mother       no
5      GP   F  15       U     GT3   other      other   father       no
6      GP   M  15       U     GT3   other       home   mother       no
7      GP   M  15       U     LE3  health      other   father       no
8      GP   M  15       U     GT3  health reputation   mother       no
9      GP   M  16       U     GT3   other reputation   mother       no
10     GP   F  16       U     LE3   other     course   mother       no

8. promedio de calificaciones g1, g2, g3 (mostrar primerios 50 estudiantes

In [27]:
%%R
data %>%
  mutate(promedio = (G1 + G2) / 2) %>%
  select(1:5, 10:12, G1, G2, promedio) %>%
  head(n=10)

   school sex age address famsize     Fjob     reason guardian G1 G2 promedio
1      GP   F  18       U     GT3  teacher     course   mother  5  6      5.5
2      GP   F  17       U     GT3    other     course   father  5  5      5.0
3      GP   F  15       U     LE3    other      other   mother  7  8      7.5
4      GP   F  15       U     GT3 services       home   mother 15 14     14.5
5      GP   F  16       U     GT3    other       home   father  6 10      8.0
6      GP   M  16       U     LE3    other reputation   mother 15 15     15.0
7      GP   M  16       U     LE3    other       home   mother 12 12     12.0
8      GP   F  17       U     GT3  teacher       home   mother  6  5      5.5
9      GP   M  15       U     LE3    other       home   mother 16 18     17.0
10     GP   M  15       U     GT3    other       home   mother 14 15     14.5

# 9.Numero de alumnos menores de edad y numero de alumnos mayores de edad

In [30]:
%%R
data %>% 
  mutate(age_group = ifelse(age >= 18, "Mayor", "Menor")) %>% 
  group_by(school, age_group) %>% 
  count()

# A tibble: 4 × 3
# Groups:   school, age_group [4]
  school age_group     n
  <chr>  <chr>     <int>
1 GP     Mayor        77
2 GP     Menor       272
3 MS     Mayor        34
4 MS     Menor        12

10. que gupo representa un mayor numero de relaciones romanticas, los hombres o las mujeres

In [31]:
%%R
data %>% 
group_by(sex) %>% 
count(romantic) %>% 
filter(romantic=="yes")

# A tibble: 2 × 3
# Groups:   sex [2]
  sex   romantic     n
  <chr> <chr>    <int>
1 F     yes         79
2 M     yes         53