Actividad en clase 2 Lenguaje R

Alumno: Jesus Alejandro Valencia Valadez

In [1]:
%%capture
!pip install rpy2==3.5.1

In [2]:
%load_ext rpy2.ipython

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [4]:
%%R
library(readr)
library(magrittr)
library(dplyr)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [5]:
%%R
data <- read.csv("drive/MyDrive/movies.csv")

In [6]:
%%R
colnames(data)

 [1] "name"     "rating"   "genre"    "year"     "released" "score"
 [7] "votes"    "director" "writer"   "star"     "country"  "budget"
[13] "gross"    "company"  "runtime"

0. ¿Cuántas películas tiene el conjunto de datos?

In [7]:
%%R
length(rownames(data))

[1] 7668

1. ¿Cuáles son los diferentes tipos de clasificación (rating) y cuántos registros existen por cada uno?

In [8]:
%%R
data %>% 
group_by(rating) %>% 
summarize(cantidad = n())

# A tibble: 13 × 2
   rating      cantidad
   <chr>          <int>
 1 ""                77
 2 "Approved"         1
 3 "G"              153
 4 "NC-17"           23
 5 "Not Rated"      283
 6 "PG"            1252
 7 "PG-13"         2112
 8 "R"             3697
 9 "TV-14"            1
10 "TV-MA"            9
11 "TV-PG"            5
12 "Unrated"         52
13 "X"                3

2. ¿Cuáles son los diferentes tipos de género(genre) y cuántos registros existen por cada uno?

In [9]:
%%R
data %>% 
group_by(genre) %>% 
summarize(cantidad = n())

# A tibble: 19 × 2
   genre     cantidad
   <chr>        <int>
 1 Action        1705
 2 Adventure      427
 3 Animation      338
 4 Biography      443
 5 Comedy        2245
 6 Crime          551
 7 Drama         1518
 8 Family          11
 9 Fantasy         44
10 History          1
11 Horror         322
12 Music            1
13 Musical          2
14 Mystery         20
15 Romance         10
16 Sci-Fi          10
17 Sport            1
18 Thriller        16
19 Western          3

3. ¿ Cuántas películas hay registradas por cada año?

In [10]:
%%R
data %>% 
group_by(year) %>% 
summarize(cantidad = n()) %>%
print(n = 41)

# A tibble: 41 × 2
    year cantidad
   <int>    <int>
 1  1980       92
 2  1981      113
 3  1982      126
 4  1983      144
 5  1984      168
 6  1985      200
 7  1986      200
 8  1987      200
 9  1988      200
10  1989      200
11  1990      200
12  1991      200
13  1992      200
14  1993      200
15  1994      200
16  1995      200
17  1996      200
18  1997      200
19  1998      200
20  1999      200
21  2000      200
22  2001      200
23  2002      200
24  2003      200
25  2004      200
26  2005      200
27  2006      200
28  2007      200
29  2008      200
30  2009      200
31  2010      200
32  2011      200
33  2012      200
34  2013      200
35  2014      200
36  2015      200
37  2016      200
38  2017      200
39  2018      200
40  2019      200
41  2020       25

4. En promedio, ¿qué año tiene el score más alto?

In [11]:
%%R
data %>% 
group_by(year) %>% 
summarize(col = mean(score)) %>%
arrange(desc(col))

# A tibble: 41 × 2
    year   col
   <int> <dbl>
 1  2016  6.62
 2  2013  6.62
 3  2014  6.59
 4  2017  6.56
 5  2015  6.52
 6  2004  6.52
 7  1999  6.50
 8  2018  6.49
 9  2011  6.48
10  2007  6.47
# ℹ 31 more rows
# ℹ Use `print(n = ...)` to see more rows

5. ¿Qué año tiene la cantidad de votos más alta?

In [12]:
%%R
data %>% 
group_by(year) %>% 
summarize(col2 = mean(votes)) %>%
arrange(desc(col2))

# A tibble: 41 × 2
    year    col2
   <int>   <dbl>
 1  2013 165466.
 2  2014 159966.
 3  2012 151874.
 4  2011 151535
 5  2010 143708.
 6  2008 142129
 7  2009 133596.
 8  2007 130819
 9  2004 129203.
10  2006 126059
# ℹ 31 more rows
# ℹ Use `print(n = ...)` to see more rows

6. ¿Qué directores han filmado más de 5 películas?

In [13]:
%%R
data %>% 
group_by(director) %>% 
summarize(col3 = n()) %>%
filter (col3 >= 5) %>%
arrange(desc(col3))

# A tibble: 427 × 2
   director           col3
   <chr>             <int>
 1 Woody Allen          38
 2 Clint Eastwood       31
 3 Directors            28
 4 Steven Spielberg     27
 5 Ron Howard           24
 6 Ridley Scott         23
 7 Steven Soderbergh    23
 8 Joel Schumacher      22
 9 Barry Levinson       20
10 Martin Scorsese      19
# ℹ 417 more rows
# ℹ Use `print(n = ...)` to see more rows

7. ¿Quién es el actor protagonista que participó en más peliculas en cada decada(80s, 90s, 00s, 10s, 20s)?

In [14]:
%%R
data %>% 
mutate(decade = case_when(
    year >= 1980 & year < 1990 ~ "80s",
    year >= 1990 & year < 2000 ~ "90s",
    year >= 2000 & year < 2010 ~ "00s",
    year >= 2010 & year < 2020 ~ "10s",
    year >= 2020 & year < 2030 ~ "20s"
)) %>% 
select(decade, star) %>%
group_by(decade, star) %>%
summarize(num_peliculas = n()) %>% 
summarize(mejor_actor = star[which.max(num_peliculas)], num_pelis = max(num_peliculas))

`summarise()` has grouped output by 'decade'. You can override using the
`.groups` argument.
# A tibble: 5 × 3
  decade mejor_actor    num_pelis
  <chr>  <chr>              <int>
1 00s    Nicolas Cage          17
2 10s    Dwayne Johnson        14
3 20s    Augie Tulba            1
4 80s    Burt Reynolds         14
5 90s    Bruce Willis          15

8. Top 10 de las películas con más presupuesto

In [15]:
%%R
data %>% 
group_by(name) %>% 
summarize(presupuesto = budget) %>%
filter (presupuesto >= 10) %>%
arrange(desc(presupuesto))

`summarise()` has grouped output by 'name'. You can override using the
`.groups` argument.
# A tibble: 5,497 × 2
# Groups:   name [5,412]
   name                                          presupuesto
   <chr>                                               <dbl>
 1 Avengers: Endgame                               356000000
 2 Avengers: Infinity War                          321000000
 3 Star Wars: Episode VIII - The Last Jedi         317000000
 4 Justice League                                  300000000
 5 Pirates of the Caribbean: at World's End        300000000
 6 Solo: A Star Wars Story                         275000000
 7 Star Wars: Episode IX - The Rise of Skywalker   275000000
 8 Superman Returns                                270000000
 9 Tangled                                         260000000
10 The Lion King                                   260000000
# ℹ 5,487 more rows
# ℹ Use `print(n = ...)` to see more rows

9. Top 10 de las compañías con más películas producidas

In [16]:
%%R
data %>% 
group_by(company) %>% 
summarize(peliculas_producidas = n()) %>%
filter (peliculas_producidas >= 10) %>%
arrange(desc(peliculas_producidas))

# A tibble: 81 × 2
   company                   peliculas_producidas
   <chr>                                    <int>
 1 Universal Pictures                         377
 2 Warner Bros.                               334
 3 Columbia Pictures                          332
 4 Paramount Pictures                         320
 5 Twentieth Century Fox                      240
 6 New Line Cinema                            174
 7 Touchstone Pictures                        132
 8 Metro-Goldwyn-Mayer (MGM)                  125
 9 Walt Disney Pictures                       123
10 TriStar Pictures                            94
# ℹ 71 more rows
# ℹ Use `print(n = ...)` to see more rows

10. Película con el menor y película con la mayor duración

In [17]:
%%R
data %>% 
group_by(name) %>% 
summarize(runtime) %>%
select (runtime) %>%
arrange(desc(runtime)) %>%
head(n = 1)

`summarise()` has grouped output by 'name'. You can override using the
`.groups` argument.
Adding missing grouping variables: `name`
# A tibble: 1 × 2
# Groups:   name [1]
  name              runtime
  <chr>               <dbl>
1 The Best of Youth     366

In [21]:
%%R
data %>% 
group_by(name) %>% 
summarize(runtime) %>%
select (runtime) %>%
arrange(runtime) %>%
head(n=1)

`summarise()` has grouped output by 'name'. You can override using the
`.groups` argument.
Adding missing grouping variables: `name`
# A tibble: 1 × 2
# Groups:   name [1]
  name                          runtime
  <chr>                           <dbl>
1 The Business of Show Business      55

11. Top 3 de escritores con más trabajos en el siglo XX

In [19]:
%%R
data %>% 
mutate(decade = case_when(
    year >= 1980 & year < 1990 ~ "80s",
    year >= 1990 & year < 2000 ~ "90s")) %>%
select(decade, writer) %>%
group_by(decade, writer) %>% 
summarize(trabajos = n()) %>% 
arrange(desc(trabajos)) %>%
head(n=3)

`summarise()` has grouped output by 'decade'. You can override using the
`.groups` argument.
# A tibble: 3 × 3
# Groups:   decade [2]
  decade writer      trabajos
  <chr>  <chr>          <int>
1 <NA>   Luc Besson        19
2 <NA>   Woody Allen       17
3 80s    John Hughes       15

12. Top 3 de directores con más trabajos en tu año de nacimiento

In [20]:
%%R
data %>% 
group_by(director) %>% 
summarize(director,year)%>%
filter (year == "2001") %>%
arrange(desc(director)) %>%
head(n=3)

`summarise()` has grouped output by 'director'. You can override using the
`.groups` argument.
# A tibble: 3 × 2
# Groups:   director [3]
  director         year
  <chr>           <int>
1 Yann Samuell     2003
2 Woody Allen      2003
3 Wolfgang Becker  2003

13. Top 10 de los mejores géneros de películas basados en su Score

In [22]:
%%R
data %>% 
group_by(genre) %>% 
summarize(prom_score = mean(score)) %>%
arrange(desc(prom_score)) %>%
head(n=10)

# A tibble: 10 × 2
   genre     prom_score
   <chr>          <dbl>
 1 History         8.3
 2 Musical         8.05
 3 Music           7.2
 4 Biography       7.03
 5 Animation       6.77
 6 Crime           6.67
 7 Mystery         6.66
 8 Romance         6.41
 9 Family          6.36
10 Adventure       6.29

14. ¿Cuántas películas se estrenaron en tu fecha de cumpleaños?

In [23]:
%%R
data %>%
filter(grepl("September 13, 2001", released)) %>%
count()

  n
1 0

15. Cantidad de películas donde el escritor y el director son la misma persona

In [24]:
%%R
data %>%  
filter(writer == director) %>%
count()

     n
1 2164

16. Cantidad de películas donde el protagonista y el director son la misma persona

In [25]:
%%R
data %>%  
filter(star == director) %>%
count()

    n
1 205

17. Top 10 de directores que han sido escritores durante más películas

In [26]:
%%R
data %>% 
group_by(director) %>% 
summarize(escritores = n()) %>%
filter (escritores >= 10) %>%
arrange(desc(escritores))

# A tibble: 114 × 2
   director          escritores
   <chr>                  <int>
 1 Woody Allen               38
 2 Clint Eastwood            31
 3 Directors                 28
 4 Steven Spielberg          27
 5 Ron Howard                24
 6 Ridley Scott              23
 7 Steven Soderbergh         23
 8 Joel Schumacher           22
 9 Barry Levinson            20
10 Martin Scorsese           19
# ℹ 104 more rows
# ℹ Use `print(n = ...)` to see more rows

18. Actor con más películas protagonizadas de tu género favorito

In [75]:
%%R
data %>% 
group_by(star, genre) %>% 
summarize(Cantidad_Pelis = n()) %>%
summarize(star, genre, Cantidad_Pelis) %>%
filter(genre== "Comedy")%>%
arrange(desc(Cantidad_Pelis))%>%
head(n=1)

`summarise()` has grouped output by 'star'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'star'. You can override using the
`.groups` argument.
# A tibble: 1 × 3
# Groups:   star [1]
  star         genre  Cantidad_Pelis
  <chr>        <chr>           <int>
1 Steve Martin Comedy             24