In [ ]:
# Jesus Alejandro Valencia Valadez

In [1]:
%%capture
!pip install rpy2==3.5.1

In [2]:
%load_ext rpy2.ipython

In [3]:
from google.colab import drive 
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [4]:
%%R
library (readr)
library(magrittr)
library(dplyr)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [5]:
%%R 
data <- read.csv("drive/MyDrive/videogames.csv")

In [6]:
%%R
length(rownames(data))

[1] 16719

In [7]:
%%R
colnames(data)

 [1] "Name"            "Platform"        "Year_of_Release" "Genre"
 [5] "Publisher"       "NA_Sales"        "EU_Sales"        "JP_Sales"
 [9] "Other_Sales"     "Global_Sales"    "Critic_Score"    "Critic_Count"
[13] "User_Score"      "User_Count"      "Developer"       "Rating"

1. Cantidad de videojuegos por plataforma

In [8]:
%%R 
data %>%
group_by(Platform) %>%
summarize (Name=n())

# A tibble: 31 × 2
   Platform  Name
   <chr>    <int>
 1 2600       133
 2 3DO          3
 3 3DS        520
 4 DC          52
 5 DS        2152
 6 GB          98
 7 GBA        822
 8 GC         556
 9 GEN         29
10 GG           1
# ℹ 21 more rows
# ℹ Use `print(n = ...)` to see more rows

2. Cantidad de videojuegos por rating

In [9]:
%%R 
data %>%
group_by(Rating) %>%
filter(Rating != "" & Rating != "NA") %>%
summarize (Name=n())

# A tibble: 8 × 2
  Rating  Name
  <chr>  <int>
1 AO         1
2 E       3991
3 E10+    1420
4 EC         8
5 K-A        3
6 M       1563
7 RP         3
8 T       2961

3. Cantidad de videojuegos lanzados antes del 2000 y cantidad de videojuegos lanzados despues del año 2000

In [22]:
%%R
data %>%
filter (Year_of_Release<2000) %>%
nrow()

[1] 1976

In [23]:
%%R
data %>%
filter (Year_of_Release>2000) %>%
nrow()

[1] 14393

4. Plataforma cuyos videojuegos han recibido el mayor numero de criticas

In [21]:
%%R 
data %>%
group_by(Platform) %>%
summarize (Critic_Count=n()) %>%
head(n=1)

# A tibble: 1 × 2
  Platform Critic_Count
  <chr>           <int>
1 2600              133

5. Plataformas cuyos videojuegos han recibido el menor score por parte de los usuarios

In [20]:
%%R 
data %>%
group_by(Platform) %>%
summarize (Critic_Score=n()) %>%
arrange(Critic_Score) %>%
head(n=1)

# A tibble: 1 × 2
  Platform Critic_Score
  <chr>           <int>
1 GG                  1

6. Ventas totales en NA por parte de cada empresa desarrolladora

In [19]:
%%R 
data %>%
group_by(Developer) %>%
filter(Developer != "" & Developer != "NA") %>%
summarize (NA_Sales=n())

# A tibble: 1,696 × 2
   Developer                             NA_Sales
   <chr>                                    <int>
 1 10tacle Studios                              1
 2 10tacle Studios, Fusionsphere Systems        2
 3 1C, 1C Company                               2
 4 1C, Ino-Co, 1C Company                       2
 5 1C, Various, 1C Company                      1
 6 1C: Maddox Games                             2
 7 1C:Ino-Co                                    2
 8 1st Playable Productions                    12
 9 2015                                         1
10 2D Boy                                       1
# ℹ 1,686 more rows
# ℹ Use `print(n = ...)` to see more rows

7. Ventas globales por genero de videojuego

In [18]:
%%R 
data %>%
group_by(Genre) %>%
filter(Genre != "" & Genre != "NA") %>%
summarize (Global_Sales=n())

# A tibble: 12 × 2
   Genre        Global_Sales
   <chr>               <int>
 1 Action               3370
 2 Adventure            1303
 3 Fighting              849
 4 Misc                 1750
 5 Platform              888
 6 Puzzle                580
 7 Racing               1249
 8 Role-Playing         1500
 9 Shooter              1323
10 Simulation            874
11 Sports               2348
12 Strategy              683

8. Region en donde se ha obtenido la mayor cantidad de ventas de videojuegos

In [17]:
%%R 
region_venta <- data %>%
summarize(totalNA = sum(NA_Sales),
          totalEU = sum(EU_Sales),
          totalJP = sum(JP_Sales),
          totalOther = sum(Other_Sales)) 
region_venta[which.max(region_venta)]

  totalNA
1 4402.62

9. Videojuego más vendido de cada año

In [16]:
%%R
data %>% 
group_by(Year_of_Release) %>%
filter(Name != "" & Name != "NA") %>%
slice_max(Global_Sales) %>%
select(Year_of_Release, Name,Genre)

# A tibble: 40 × 3
# Groups:   Year_of_Release [40]
   Year_of_Release Name                            Genre
   <chr>           <chr>                           <chr>
 1 1980            Asteroids                       Shooter
 2 1981            Pitfall!                        Platform
 3 1982            Pac-Man                         Puzzle
 4 1983            Baseball                        Sports
 5 1984            Duck Hunt                       Shooter
 6 1985            Super Mario Bros.               Platform
 7 1986            The Legend of Zelda             Action
 8 1987            Zelda II: The Adventure of Link Adventure
 9 1988            Super Mario Bros. 3             Platform
10 1989            Tetris                          Puzzle
# ℹ 30 more rows
# ℹ Use `print(n = ...)` to see more rows

10. Videojuego (S) más viejo(s) y Videojuego (S) más nuevos de acuerdo al registro

In [15]:
%%R
data %>%
group_by(Name) %>%
filter(Year_of_Release != "" & Year_of_Release!="N/A") %>%
summarize (Year_of_Release) %>%
select(Year_of_Release) %>%
arrange(desc(Year_of_Release))

`summarise()` has grouped output by 'Name'. You can override using the
`.groups` argument.
Adding missing grouping variables: `Name`
# A tibble: 16,450 × 2
# Groups:   Name [11,430]
   Name                                               Year_of_Release
   <chr>                                              <chr>
 1 "Imagine: Makeup Artist"                           2020
 2 "Brothers Conflict: Precious Baby"                 2017
 3 "Phantasy Star Online 2 Episode 4: Deluxe Package" 2017
 4 "Phantasy Star Online 2 Episode 4: Deluxe Package" 2017
 5 " Beyblade Burst"                                  2016
 6 " Haikyu!! Cross Team Match!"                      2016
 7 "12-Sai. Koisuru Diary"                            2016
 8 "3DS Classic Collection"                           2016
 9 "7 Days to Die"                                    2016
10 "7 Days to Die"                                    2016
# ℹ 16,440 more rows
# ℹ Use `print(n = ...)` to see more rows

In [14]:
%%R
data %>%
group_by(Name) %>%
filter(Year_of_Release != "" & Year_of_Release!="N/A") %>%
summarize (Year_of_Release) %>%
select(Year_of_Release) %>%
arrange(Year_of_Release)

`summarise()` has grouped output by 'Name'. You can override using the
`.groups` argument.
Adding missing grouping variables: `Name`
# A tibble: 16,450 × 2
# Groups:   Name [11,430]
   Name               Year_of_Release
   <chr>              <chr>
 1 Asteroids          1980
 2 Boxing             1980
 3 Bridge             1980
 4 Checkers           1980
 5 Defender           1980
 6 Freeway            1980
 7 Ice Hockey         1980
 8 Kaboom!            1980
 9 Missile Command    1980
10 Adventures of Tron 1981
# ℹ 16,440 more rows
# ℹ Use `print(n = ...)` to see more rows

11. Videojuego más vendido globalmente de tú genero fav

In [13]:
%%R
data %>% 
filter(Name != "")%>% 
filter(grepl("Plataform", Genre)) %>% 
group_by(Name) %>%
summarize(videjuego_fav = n()) %>% 
arrange(desc(videjuego_fav))

# A tibble: 0 × 2
# ℹ 2 variables: Name <chr>, videjuego_fav <int>