In [ ]:
%%capture 
!pip install rpy2==3.5.1

In [ ]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [ ]:
from google.colab import drive 
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
%%R
library(readr)
library(magrittr)
library(dplyr)

In [ ]:
%%R
data <- read.csv("drive/MyDrive/movies.csv")

In [ ]:
#Cuantas peliculas tiene el conjunto de datos??

In [ ]:
%%R
length(rownames(data))

[1] 7668

In [ ]:
#Cuales son los diferentes tipos de clasificacion y cuantos registros existen por cada uno

In [ ]:
%%R
colnames(data)

 [1] "name"     "rating"   "genre"    "year"     "released" "score"
 [7] "votes"    "director" "writer"   "star"     "country"  "budget"
[13] "gross"    "company"  "runtime"

In [ ]:
%%R
data%>%
group_by(rating)%>%
summarize(cantidad = n())

# A tibble: 13 × 2
   rating      cantidad
   <chr>          <int>
 1 ""                77
 2 "Approved"         1
 3 "G"              153
 4 "NC-17"           23
 5 "Not Rated"      283
 6 "PG"            1252
 7 "PG-13"         2112
 8 "R"             3697
 9 "TV-14"            1
10 "TV-MA"            9
11 "TV-PG"            5
12 "Unrated"         52
13 "X"                3

In [ ]:
#Cuals son los diferentes tipos de genero y cuantos regsitros existen por cada uno

In [ ]:
%%R
data%>%
group_by(genre)%>%
summarize(cantidad = n())

# A tibble: 19 × 2
   genre     cantidad
   <chr>        <int>
 1 Action        1705
 2 Adventure      427
 3 Animation      338
 4 Biography      443
 5 Comedy        2245
 6 Crime          551
 7 Drama         1518
 8 Family          11
 9 Fantasy         44
10 History          1
11 Horror         322
12 Music            1
13 Musical          2
14 Mystery         20
15 Romance         10
16 Sci-Fi          10
17 Sport            1
18 Thriller        16
19 Western          3

In [ ]:
#Cuantas peliculas hay regsitradas por cada año

In [ ]:
%%R
data%>%
group_by(year)%>%
summarize(cantidad = n())%>%
print(n=41)

# A tibble: 41 × 2
    year cantidad
   <int>    <int>
 1  1980       92
 2  1981      113
 3  1982      126
 4  1983      144
 5  1984      168
 6  1985      200
 7  1986      200
 8  1987      200
 9  1988      200
10  1989      200
11  1990      200
12  1991      200
13  1992      200
14  1993      200
15  1994      200
16  1995      200
17  1996      200
18  1997      200
19  1998      200
20  1999      200
21  2000      200
22  2001      200
23  2002      200
24  2003      200
25  2004      200
26  2005      200
27  2006      200
28  2007      200
29  2008      200
30  2009      200
31  2010      200
32  2011      200
33  2012      200
34  2013      200
35  2014      200
36  2015      200
37  2016      200
38  2017      200
39  2018      200
40  2019      200
41  2020       25

In [ ]:
#En promedio que año tiene el score MAS ALTO

In [ ]:
%%R
data%>%
group_by(year)%>%
summarize(col = mean(score))%>%
arrange(desc(col))%>%
head(1)

# A tibble: 1 × 2
   year   col
  <int> <dbl>
1  2016  6.62

In [ ]:
#Que año tiene la cantidad de votos mas alta

In [ ]:
%%R
data%>%
group_by(year)%>%
summarize(col = sum(votes))%>%
arrange(desc(col))%>%
head(1)

# A tibble: 1 × 2
   year      col
  <int>    <dbl>
1  2013 33093300

In [ ]:
#Que directores han firmado mas de 5 peliculas??

In [ ]:
%%R
data%>%
group_by(director)%>%
summarize(col = length(rownames(names)))%>%
arrange(desc(col))

# A tibble: 2,949 × 2
   director              col
   <chr>               <int>
 1 A.R. Murugadoss         0
 2 Aamir Khan              0
 3 Aaron Blaise            0
 4 Aaron Norris            0
 5 Aaron Seltzer           0
 6 Aaron Sorkin            0
 7 Abbas Kiarostami        0
 8 Abby Kohn               0
 9 Abdellatif Kechiche     0
10 Abe Sylvia              0
# ℹ 2,939 more rows
# ℹ Use `print(n = ...)` to see more rows

In [ ]:
#Quien es el actor protagonista que participo en mas peliculas en 90s, 00s,10s,20s

In [ ]:
%%R
data %>%
mutate(decade = case_when(
    year >= 1980 & year < 1990 ~ "80s",
    year >= 1990 & year < 2000 ~ "90s",
    year >= 2000 & year < 2010 ~ "00s",
    year >= 2010 & year < 2020 ~ "10s",
    year >= 2020 & year < 2030 ~ "20s",
)) %>%

select(decade, star) %>%
group_by(decade, star) %>%
summarize(num_peliculas = n()) %>%
summarize(mejor_actor= star[which.max(num_peliculas)],
          num_pelis = max(num_peliculas))

`summarise()` has grouped output by 'decade'. You can override using the
`.groups` argument.
# A tibble: 5 × 3
  decade mejor_actor    num_pelis
  <chr>  <chr>              <int>
1 00s    Nicolas Cage          17
2 10s    Dwayne Johnson        14
3 20s    Augie Tulba            1
4 80s    Burt Reynolds         14
5 90s    Bruce Willis          15

In [ ]:
# Top 10 peliculas con mas presupuesto

In [ ]:
%%R
data%>%
group_by(name)%>%
summarize(presupuesto= budget)%>%
arrange(desc(presupuesto))

`summarise()` has grouped output by 'name'. You can override using the
`.groups` argument.
# A tibble: 7,668 × 2
# Groups:   name [7,512]
   name                                          presupuesto
   <chr>                                               <dbl>
 1 Avengers: Endgame                               356000000
 2 Avengers: Infinity War                          321000000
 3 Star Wars: Episode VIII - The Last Jedi         317000000
 4 Justice League                                  300000000
 5 Pirates of the Caribbean: at World's End        300000000
 6 Solo: A Star Wars Story                         275000000
 7 Star Wars: Episode IX - The Rise of Skywalker   275000000
 8 Superman Returns                                270000000
 9 Tangled                                         260000000
10 The Lion King                                   260000000
# ℹ 7,658 more rows
# ℹ Use `print(n = ...)` to see more rows